<a href="https://colab.research.google.com/github/Fr33zz/mw/blob/master/14%20get_new_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
orders = gc.open_by_url('https://docs.google.com/spreadsheets/d/106Mk7_n9iXmCB-fuPFgpWsV1t7JtoAdPaePi5x8BFTM')

payments = gc.open_by_url('https://docs.google.com/spreadsheets/d/1OKkFUxN-a55K52Z6QO0wnZg9SB-_6d3VZ_BXDCYsGYc')

closed = gc.open_by_url('https://docs.google.com/spreadsheets/d/1Gs7OkvQLNpt5IDTrsP5PBWbrSTO89zOPysbpbp7uzrQ')

sch_pay = gc.open_by_url('https://docs.google.com/spreadsheets/d/1AkH2q9AGbFuaXW3fUlrvvzcObFAr0vOkYdr2sNb4uLw')

opened = gc.open_by_url('https://docs.google.com/spreadsheets/d/1xUc4ayCcVNpkT1Bcx8_Hk84g02iM3U5GkxSSbZMMGAk')

charge = gc.open_by_url('https://docs.google.com/spreadsheets/d/1gOgXDjkxdjNaE-O-jprV77Tucdqm8uE-vg0NHDxP8xk')


def get_data(spreadsheet, list_number=0):
  ind = pd.DataFrame(spreadsheet.worksheets()[list_number].get_all_values())
  ind = ind.rename(columns=ind.iloc[0]).drop(index=0).reset_index().drop(columns='index')
  return ind

def get_titles(x, type_=1):
  '''type = {0:"list", 1:"df"}'''
  if type_==0:
    return [i.title for i in x.worksheets()]
  if type_==1:
    return pd.DataFrame([i.title for i in x.worksheets()])


def to_num(data, columns, print_=False):
  d = data.copy()
  for i in columns:
    try:       
      d[i] = d[i].map(lambda x: '.'.join(''.join(''.join(str(x).split('\xa0')).split(' ')).split(',')) if x!='' else np.nan).astype('float')
    except:
      if print_:
        print(i)
      else:
        None
  return d

#for i in dates:
#  d[i] = pd.to_datetime(d[i].replace({'':np.nan}), format='%d.%m.%Y')

In [ ]:
loan = get_data(opened, 0)
loan = loan[loan['Пауза']!='На паузе']
loan = loan[loan['']!='На паузе']
loan  = to_num( loan,  loan.iloc[:,-17:].columns, True)

Резерв по основному долгу, %
Резерв по процентам, %

In [ ]:
cols_loan = ['Дата', '№ договора', 'Дата попадания в реестр',
       'ФИО','Дата рождения',
       'Полученная сумма заемщиком', 'Ежемесячный взнос',
       'Сумма начисленных процентов',
       'Срок просрочки (в днях)', 'Категория просрочки','Общая сумма задолженности',
       'Общая сумма текущей задолженности', 'Общая сумма просроченной задолженности']

loan['Общая сумма текущей задолженности'] = loan[['Текущая задолженность по основному долгу',
                                              'Текущая задолженность по процентам',
                                              'Текущая задолженность по комиссии']].sum(axis=1)

loan['Общая сумма просроченной задолженности'] = loan['Общая сумма задолженности'] - loan['Общая сумма текущей задолженности']

loan = loan[cols_loan]

dates = ['Дата', 'Дата попадания в реестр', 'Дата рождения']
for i in dates:
  loan[i] = pd.to_datetime(loan[i].replace({'':np.nan}), format='%d.%m.%Y')

loan  = to_num( loan,  loan.iloc[:,-8:].columns, True)

Категория просрочки

In [ ]:
loan['score'] = loan['Общая сумма просроченной задолженности'] / loan['Срок просрочки (в днях)']

loan = loan[loan['Срок просрочки (в днях)']>0]

#plt.bar(range(loan.shape[0]), height = loan.sort_values('score', ascending=False)['Срок просрочки (в днях)'].values)
loan = loan.sort_values('score', ascending=False)
loan = loan.reset_index().reset_index().drop(columns=['level_0', 'index']).reset_index()

loan['index'] = loan['index']//100%2

In [ ]:
for i in loan[dates]:
  loan[i] = loan[i].map(lambda x: str(x).split(' ')[0])

In [ ]:
d = pd.read_csv('/content/drive/My Drive/analytics/14 callcenter_charge_strategy/mw.csv')
#d = d[['id', 'masked_id']]

loan = pd.merge(left=loan, right=d, left_on='№ договора', right_on='masked_id',how='left').iloc[:,:-1]

loan['id'] = loan['id'].fillna('').astype(str).map(lambda x: 'https://moneywall.io/admin/credit_agreements/'+x.split('.')[0])

In [ ]:
d

        id   state    masked_id  ...  user_id        holder_name active
0     4062  closed  MW333350425  ...    198.0     MAXIM GORSHKOV   True
1     3435  closed  MW333356746  ...   6288.0    KARAVAEVA IRINA   True
2     1088  closed  MW333331740  ...   1522.0   Irina Poleshchuk   True
3     4308  closed  MW333351928  ...  11082.0     ANNA ZATSEPINA   True
4     5217  closed  MW333367972  ...  13274.0  VAGRAM MALKHASYAN  False
...    ...     ...          ...  ...      ...                ...    ...
7874  8039  closed  MW333396503  ...  19735.0         OLESYA GUK   True
7875  8204    open  MW333391563  ...  17426.0   MARINA KONDIENKO   True
7876  8205    open  MW333391591  ...  24699.0      PAVEL LAGUNOV   True
7877  8008  closed  MW333395038  ...  11703.0  SERGEY OVCHARENKO   True
7878  8200  closed  MW333391327  ...  24311.0     KARINE AVAKYAN   True

[7879 rows x 7 columns]

In [ ]:
loan['status'] = ''
loan['списанная сумма'] = ''
loan['Попытки'] = ''  #количество неудачных попыток
loan['коммент'] = ''
loan['год-месяц'] = loan['Дата попадания в реестр'].map(lambda x: '-'.join(x.split('-')[:2]))

cols = ['id', 
        'index', 
        '№ договора',
        'status',
        'списанная сумма',
        'Попытки',
        'коммент',
        #'score',
        'год-месяц',
        'Срок просрочки (в днях)',
        'Общая сумма просроченной задолженности',
        'Общая сумма текущей задолженности',
        'Общая сумма задолженности',
        'Полученная сумма заемщиком',
        'Ежемесячный взнос',
        'Сумма начисленных процентов',
        'Дата']

In [ ]:
loan

      index        Дата   № договора  ... Попытки коммент год-месяц
0         0  2021-02-02  MW333399077  ...                   2021-02
1         0  2021-02-02  MW333398202  ...                   2021-01
2         0  2021-02-02  MW333399905  ...                   2021-02
3         0  2021-02-02  MW333399856  ...                   2021-01
4         0  2021-02-02  MW333396121  ...                   2021-02
...     ...         ...          ...  ...     ...     ...       ...
2190      1  2021-02-02  MW333338881  ...                   2020-03
2191      1  2021-02-02      R877111  ...                   2016-05
2192      1  2021-02-02      R877098  ...                   2016-05
2193      1  2021-02-02      R876868  ...                   2016-02
2194      1  2021-02-02  MW333360526  ...                   2020-08

[2195 rows x 26 columns]

In [ ]:
loan[cols].to_excel('/content/drive/My Drive/analytics/14 callcenter_charge_strategy/charge_strategy_raw.xlsx')

In [ ]:
d

        id   state    masked_id  ...  user_id        holder_name active
0     4062  closed  MW333350425  ...    198.0     MAXIM GORSHKOV   True
1     3435  closed  MW333356746  ...   6288.0    KARAVAEVA IRINA   True
2     1088  closed  MW333331740  ...   1522.0   Irina Poleshchuk   True
3     4308  closed  MW333351928  ...  11082.0     ANNA ZATSEPINA   True
4     5217  closed  MW333367972  ...  13274.0  VAGRAM MALKHASYAN  False
...    ...     ...          ...  ...      ...                ...    ...
7874  8039  closed  MW333396503  ...  19735.0         OLESYA GUK   True
7875  8204    open  MW333391563  ...  17426.0   MARINA KONDIENKO   True
7876  8205    open  MW333391591  ...  24699.0      PAVEL LAGUNOV   True
7877  8008  closed  MW333395038  ...  11703.0  SERGEY OVCHARENKO   True
7878  8200  closed  MW333391327  ...  24311.0     KARINE AVAKYAN   True

[7879 rows x 7 columns]

In [ ]:
drop2[0]

NameError: ignored

In [ ]:
d['active'].fillna(True)

id2save = d[d['active'].fillna(True)]['masked_id'].values

new_loan = loan[loan['masked_id'].isin(id2save)]

#d0 = get_data(charge, 0)
#d1 = get_data(charge, 1)

#not2drop = np.unique(np.concatenate((d0[d0['status']=='']['№ договора'].values,
#                                     d1[d1['status']=='']['№ договора'].values), axis=0))

drop2 = [get_data(charge, i) for i in range(2)]
drop2 = [i[i['status']!='']['№ договора'].values for i in drop2]
drop2 = np.concatenate(drop2, axis=0)

new_loan = new_loan[~new_loan['№ договора'].isin(drop2)]

In [ ]:
drop2 = [get_data(charge, i) for i in range(2)]
# drop2 = [i[i['status']!='']['№ договора'].values for i in drop2]
# drop2 = np.concatenate(drop2, axis=0)

In [ ]:
drop2[0]

     level_0        ... Сумма начисленных процентов        Дата
0          1     0  ...                     1129,58  2021-02-02
1          2     2  ...                     1018,35  2021-02-02
2          3     3  ...                     1162,14  2021-02-02
3          4     4  ...                      587,86  2021-02-02
4          5     6  ...                      980,45  2021-02-02
..       ...   ...  ...                         ...         ...
902      903  2169  ...                         931  2021-02-02
903      904  2186  ...                         272  2021-02-02
904      905  2187  ...                       68,23  2021-02-02
905      906  2189  ...                         947  2021-02-02
906      907  2194  ...                     6756,06  2021-02-02

[907 rows x 17 columns]

In [ ]:
len(drop2)

0

In [ ]:
new_loan[new_loan['год-месяц'] == '2020-12']

      index        Дата   № договора  ... Попытки коммент год-месяц
18        0  2021-02-02  MW333385234  ...                   2020-12
19        0  2021-02-02  MW333361746  ...                   2020-12
33        0  2021-02-02  MW333386626  ...                   2020-12
51        0  2021-02-02  MW333384006  ...                   2020-12
93        0  2021-02-02  MW333358175  ...                   2020-12
...     ...         ...          ...  ...     ...     ...       ...
1505      1  2021-02-02      R880045  ...                   2020-12
1645      0  2021-02-02  MW333377681  ...                   2020-12
1818      0  2021-02-02  MW333342276  ...                   2020-12
2007      0  2021-02-02  MW333369473  ...                   2020-12
2141      1  2021-02-02      R880290  ...                   2020-12

[87 rows x 26 columns]

In [ ]:
drop2

In [ ]:
m = new_loan['score'].max()
new_loan['score'] = new_loan['score'] + (new_loan['Срок просрочки (в днях)']<6)*m

new_loan = new_loan.sort_values('score', ascending=False)

In [ ]:
new_loan[new_loan['id'].map(lambda x: x[-1]!='/')][cols]\
  .to_excel('/content/drive/My Drive/analytics/14 callcenter_charge_strategy/charge_strategy.xlsx')

In [ ]:
new_loan[cols]#.sort_values('№ договора')

                                                     id  ...        Дата
0     https://moneywall.io/admin/credit_agreements/8158  ...  2021-02-02
2     https://moneywall.io/admin/credit_agreements/8156  ...  2021-02-02
3     https://moneywall.io/admin/credit_agreements/8150  ...  2021-02-02
4     https://moneywall.io/admin/credit_agreements/8068  ...  2021-02-02
6     https://moneywall.io/admin/credit_agreements/8154  ...  2021-02-02
...                                                 ...  ...         ...
2169   https://moneywall.io/admin/credit_agreements/848  ...  2021-02-02
2186  https://moneywall.io/admin/credit_agreements/1360  ...  2021-02-02
2187  https://moneywall.io/admin/credit_agreements/4758  ...  2021-02-02
2189  https://moneywall.io/admin/credit_agreements/1505  ...  2021-02-02
2194  https://moneywall.io/admin/credit_agreements/5600  ...  2021-02-02

[1043 rows x 16 columns]